.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form__input {
    border-radius: 5px;
    padding: 10px;
    border-color: grey;
    max-width: 400px;
    width: 100%;
}

.form__input--noneBorder {
    border: none;
}

.form__input--noneBorder:focus-visible {
    outline: none;
    
}