.form__button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 234, 0);
    font-weight: 600;
}

.form__button:hover {
    background-color: hsl(55, 100%, 70%);
    cursor: pointer;
}

.form__result {
    font-size: 18px;
}

.form__span {
    font-weight: 700;
}

.form__note {
    font-size: 12px;
    text-align: right;
}